doctype 
//
  Author: Juan Antonio Aguilar [jasset] 2015
  Website: http://jasset.me.uk
  Project: Node-Express seed
html(lang='en')
  include ./partials/header   
  //- body    
  body
    h1 Project Boletus
    h2 "Hello World" mode activated.
    include ./partials/footer